*{
    box-sizing: border-box;
    padding-left: 1px;
    padding-right: 1px;
    
}
body{
    background-color: #242527;
   
}
.logo{
    float: left;
    padding-top: 40px;
    padding-left: 40px;
    width: 205px;
    height: 37px;
}
 .logoback{
    width: 22px;
    height: 20px;
    padding-top: 48px;
    padding-left: 95px;
}
.logotext{
    padding-left: 95px  ;
    padding-top: 43px;
    width: 181px;
    height: 20px;
    float: left;
}
.menu{
    display: inline;
    float: right;

}
.menu ul li {
    list-style-type: none;
    display: inline-block;
}
.menu ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    color: #E4F5FF;
    font-size: 21px;
    width: 987px;
    height: 25px;
    
    font-weight: 300;    
}
.menu button{
    border: 1px solid #E4F5FF;
    width: 144px;
    height: 53px;
   
    background-color: transparent;
}
.menu button a{
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    color: #E4F5FF;
    
}

.menu img{

}
.menu .between{
    margin-left: 13px;
    margin-right: -12px;
}
.menu .between1{
    margin-right: 13px;
    margin-left: -12px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
  }
.left{
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    color: #E4F5FF;
    font-size: 16px;
    width: 620px;
    height: 180px;
    padding-top: 327px;
    padding-left: 80px;
}
.left .between2{
   margin-right: -19px;

}
.left .between3{
   margin-right: -19px;
    
}
.left .between4{
    margin-right: -19px;
}
.left .between5{
   margin-right: -19px;
    
}
.left .between6{
    margin-right: -19px;
     
 }
 .right{
   width: 1000px;
   padding-left: 750px;
   margin-top: -177px;
 }
.menusecond{
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    color: #E4F5FF;
    width: 100%; 
    text-align: center;
    padding-top: 76px;
    word-spacing: 20px;
    padding-bottom: 55px;
}
.profiles{
    
    padding-top: 25px;
}
.profiles .About{
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 16px 16px;
    margin-top: 175px;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 18px;
    width: 210px;
    height: 120px;
    margin-left: 15px;
    
    
}

.first1{
    background-image: url(img/Rectangle1.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-left: 90px;
    margin-right: 30px;
    
}


.First2{
    background-image: url(img/Rectangle2.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
   
    
}

.First3{
    background-image: url(img/Rectangle\ 3.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
}
.First4{
    background-image: url(img/Rectangle\ 4.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
    
    
}
.First5{
    background-image: url(img/Rectangle\ 5.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 80px;
    
    
}
.First6{
    background-image: url(img/Rectangle\ 6.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-left: 90px;
    margin-right: 30px;
    
}
.First7{
    background-image: url(img/Rectangle\ 7.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
    
    
}
.First8{
    background-image: url(img/Rectangle\ 8.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
    
    
}
.First9{
    background-image: url(img/Rectangle\ 9.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
   
    
}
.First10{
    background-image: url(img/Rectangle\ 10.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
  
    
}
.First11{
    background-image: url(img/Rectangle\ 11.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
    margin-left: 90px;
    
}
.First12{
    background-image: url(img/Rectangle\ 12.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
   
    
}
.First13{
    background-image: url(img/Rectangle\ 13.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
    
    
}
.First14{
    background-image: url(img/Rectangle\ 14.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
    
}
.First15{
    background-image: url(img/Rectangle\ 15.png);
    filter: grayscale(100%);
    width: 240px;
    height: 310px;
    float: left;
    margin-right: 30px;
   
    
}

.profiles .About h2 {
    font-family: 'Clab';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #E4F5FF;
}

.profiles .About p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #E4F5FF;
    line-height: 10px;
}



